html {
    background-image: url(../images/fabricTexture.jpg);
    height: 100%;
    overflow:hidden;
}
body {
    /*
    background-image: url(../images/fabricTexture.jpg);
    */
    height: 100%;
    overflow:hidden;
    
    /* Chrome,Safari4+ */
    /*
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.75)), color-stop(40%,rgba(0,0,0,0.5)), color-stop(60%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,0.75))); 
    */
    /* Chrome10+,Safari5.1+ */
    /*
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0.75) 100%); 
    */
    /* W3C */
    /*
    background: linear-gradient(left, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0.5) 40%,rgba(0,0,0,0.5) 60%,rgba(0,0,0,0.75) 100%); 
    */
}

#logo {
    position: absolute;
    left:50%;
    top:50%;
    margin: -100px 0 0 -100px;
    width:200px;
    height:200px;
    overflow:visible;
}
div#logo {
    
    background-image: url(../images/quill.png);
    background-repeat: no-repeat;
    background-position-x: 42px;
    background-position-y: -4px;
    
}
#logo h1 {
    font-family: Baskerville;
    font-size: 50px;
    color: #aaa;
    text-shadow: 1px 1px white, -1px -1px #444;
}
#logo h2 {
    font-family: Baskerville;
    font-size: 18px;
    color: #aaa;
    text-shadow: 1px 1px white, -1px -1px #444;
    padding-left: 95px;
    margin-top: -2px;
}

#logo input[type=search] {
    border-radius: 12px;
}

#logo ul {
    margin-left: -10px;
}
#logo ul a {
    font-family: Baskerville;

}


#signin {
    position: absolute;
    left:50%;
    top:50%;
    margin: 60px 0 0 -90px;
    width:180px;
    height:120px;
    overflow:visible;

    border:1px solid #aaa;
    border-radius: 10px;
    background-color: rgba(200,200,200,0.2);
    font-size: 0.7em;
    text-align: center;
    padding-top: 4px;
    color: #ddd;
}

#signin input {
    display:block;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 1.2em;
}
#signin button {
    display:block;
    position: absolute;
    bottom: 10px;
    right: 10px;
}