html {
    background-image: url(../images/metalTexture.gif);
    height: 100%;
    overflow:hidden;
}
body {
    /*
    background-image: url(../images/metalTexture.gif);
    */
    height: 100%;
    overflow:hidden;
    
    
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.85)), color-stop(40%,rgba(0,0,0,0.6)), color-stop(60%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.85))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.6) 40%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(left, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0.6) 40%,rgba(0,0,0,0.6) 60%,rgba(0,0,0,0.85) 100%); /* W3C */
}

#logo {
    position: absolute;
    left:50%;
    top:50%;
    margin: -100px 0 0 -100px;
    width:200px;
    height:200px;
    overflow:visible;
}
div#logo {
    
    background-image: url(../images/quill.png);
    background-repeat: no-repeat;
    background-position-x: 42px;
    background-position-y: -4px;
    
}
#logo h1 {
    font-family: Baskerville;
    font-size: 50px;
    color: #aaa;
    text-shadow: 1px 1px white, -1px -1px #444;
}
#logo h2 {
    font-family: Baskerville;
    font-size: 18px;
    color: #aaa;
    text-shadow: 1px 1px white, -1px -1px #444;
    padding-left: 95px;
    margin-top: -2px;
}

#logo input[type=search] {
    border-radius: 12px;
}

#logo ul {
    margin-left: -10px;
}
#logo ul a {
    font-family: Baskerville;

}